<!-- START: Footer -->
<!--
Additional Classes:
.nk-footer-parallax
.nk-footer-parallax-opacity

START: Side Buttons
.nk-side-buttons-visible
-->

<div class="nk-side-buttons nk-side-buttons-visible">
  <ul>

    <li class="nk-scroll-top"><span class="nk-btn nk-btn-lg nk-btn-icon"><span class="icon ion-ios-arrow-up"></span></span>
    </li>
  </ul>
</div>
<!-- END: Side Buttons -->
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">

  <%= image_tag(image_path('footer-corner.png'),class: 'nk-footer-top-corner' ) %>
  <div class="container">
    <div class="nk-gap-2"></div>

    <div class="nk-gap"></div>
    2018 ИГРОВОЕ СООБЩЕСТВО <span style="color: #e08821;">АРХИЯ</span>
    <div class="nk-gap-2"></div>
  </div>
</footer>
<!-- END: Footer -->