<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Ваш STEAM ID внесен в WhiteList сервера. Приятной игры.</p>
<hr>
<p>НОВОЕ НАЗВАНИЕ СЕРВЕРА : <strong> [RU] GAMESCUM.RU [WhiteList]</strong> </p>
<p>НОВЫЙ IP : <strong>54.37.128.93:28302</strong></p>
<hr>
<p>Группа сервера в ВК : https://vk.com/game.scum</p>
<p>Сайт сервера : http://www.gamescum.ru</p>
<p>Дискорд сервера : https://discordapp.com/invite/Yq2Kfzr</p>



</body>
</html>