<div class="nk-main">
  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">

    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/admin">АДМИНКА</a></li>
          <li>
            <span>СОЗДАНИЕ ИВЕНТА</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="nk-box bg-dark-1 text-white">

    <div class="container">


      <div class="nk-gap-1"></div>
      Добавить новое событие:
      <div class="nk-gap-1"></div>
      <%= form_for  :event, url: addnewevent_path do |f|%>
          <div class="form-group row">
            <label for="squad_avatar" class="col-3 col-form-label">Картинка<br>

            </label>
            <div class="col-sm-9">
              <%= f.file_field :event_image ,:required => true, class:'form-control', id:'event_image'%>
            </div>
          </div>
          <div class="form-group row">
            <label for="event_name" class="col-3 col-form-label">Название события<br>

            </label>
            <div class="col-sm-9">
              <%=f.text_field :event_name ,:required => true, class:'form-control', id:'event_name'%>
            </div>
          </div>



          <span class=" home-game-info">Описание события :</span>

          <textarea class="nk-summernote  home-game-info"    name="event_info" rows="10"></textarea>


          <div class="nk-gap-2"></div>




          <button  type="submit" class="nk-btn nk-btn-color-main-1 link-effect-4">Добавить </button>

      <% end %>


    </div>
  </div>
</div>