
<div class="nk-main">





  <div class="">


    <div class="nk-box bg-dark-1 text-white">
      <div class="nk-gap-1"></div>
      <div class="container">

        <div class="nk-gap-1"></div>

        <div class="">
          <div class="">


            <a href="/admin/events"  class="nk-btn nk-btn-sm nk-btn-color-warning">ИВЕНТЫ</a>
            <a href="/admin/event"  class="nk-btn nk-btn-sm nk-btn-color-danger">ИВЕНТЫ СОЗДАНИЕ</a>
            <a href="/admin/players"  class="nk-btn nk-btn-sm nk-btn-color-warning">ИГРОКИ</a>
            <a href="/admin/squads"  class="nk-btn nk-btn-sm nk-btn-color-warning">ОТРЯДЫ</a>
            <a href="/admin/forum"  class="nk-btn nk-btn-sm nk-btn-color-warning">ФОРУМ</a>
            <a href="/admin/contracts"  class="nk-btn nk-btn-sm nk-btn-color-warning">КОНТРАКТЫ</a>
            <a href="/admin/shop"  class="nk-btn nk-btn-sm nk-btn-color-warning">МАГАЗИН</a>
            <a href="/admin/orders"  class="nk-btn nk-btn-sm nk-btn-color-warning">ЗАКАЗЫ</a>
            <hr>
            <a href="/clearimg?id=players"  class="nk-btn nk-btn-sm nk-btn-color-danger">Очистить не используемые аватары игроков</a>
            <hr>
            <div class="nk-gap-1"></div>
            Пользователей : <%=@players.count%><br>
            Отрядов : <%=@squads.count%><br>
            Самые покупаемые товары :
            <%@item.first(5).each do |i|%>
            <%=i.item_name%> |
              <%end%>
            <br>
            Самые просматриваемые категории :
            <%@cat.first(3).each do |c|%>
                <%=c.cat_name%> |
            <%end%>
            <br>




          </div>
        </div>

        <div class="nk-gap-4"></div>
      </div>



    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>

