<div class="nk-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">СЕРВЕР</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">СООБЩЕСТВО</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">КАК ПОДКЛЮЧИТЬСЯ</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
      <div class="nk-gap-1"></div>
      <script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script><iframe src="https://cdn.battlemetrics.com/b/horizontal500x80px/2648150.html?foreground=%23EEEEEE&background=%230e0e0e&lines=%23333333&linkColor=%23e08821&chartColor=%23e08821" frameborder=0 style="border:0" name="dhfdl"></iframe></p>



      <div class="nk-gap-1"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
      <div class="nk-gap-1"></div>

      <div class="nk-gap-1"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
      <div class="nk-gap-1"></div>
       <div class="nk-gap-1"></div>
    </div>
  </div>
</div>