


<a class="nk-btn nk-btn-color-main-1" href="#" onclick="myFunction1()">СЕРВЕР</a>
<a class="nk-btn nk-btn-color-main-1" href="#" onclick="myFunction2()">СООБЩЕСТВО</a>
<a class="nk-btn nk-btn-color-main-1" href="#" >КАК ПОДКЛЮЧИТЬСЯ</a>
<div id="server_div">
  <script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script><iframe src="https://cdn.battlemetrics.com/b/horizontal500x80px/2648150.html?foreground=%23EEEEEE&background=%230e0e0e&lines=%23333333&linkColor=%23e08821&chartColor=%23e08821" frameborder=0 style="border:0" name="dhfdl"></iframe></p>

</div>
<div id="comm_div" style="display: none">
  Наша группа ВК :<a class="nk-btn nk-btn-color-main-1" href=" https://vk.com/igcommunity" target="_blank"> https://vk.com/igcommunity</a>   <br>
  Наш дискорд : <a class="nk-btn nk-btn-color-main-1" href="https://discord.gg/MG3Nqde" target="_blank">https://discord.gg/MG3Nqde</a> <br>
  Наш сайт : <a class="nk-btn nk-btn-color-main-1" href="http://www.gamescum.ru" target="_blank">http://www.gamescum.ru</a><br>
</div>

<script language="JavaScript">
    function myFunction1() {
        var x = document.getElementById("server_div");
        var x1 = document.getElementById("comm_div");
        if (x.style.display === "none") {
            x.style.display = "block";
            x1.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function myFunction2() {
        var x = document.getElementById("comm_div");
        var x1 = document.getElementById("server_div");
        if (x.style.display === "none") {
            x.style.display = "block";
            x1.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
</script>

